#root,
body,
html {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(242, 242, 242);
    font-family: arial;
    font-weight: 100;
    font-size: 12px;
    touch-action: manipulation;
}

#appwrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 0px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(185, 185, 185);
    color: rgb(102, 102, 102);
    border-radius: 0px;
}

.btn:focus {
    outline-style: ridge;
    outline-width: 1px;
    outline-color: #0160BF;
}

.btn:disabled {
    cursor: not-allowed;
    color: rgb(185, 185, 185);
}

.btn:hover:not(:disabled) {
    background: linear-gradient(rgb(99, 150, 201), rgb(58, 105, 154));
    color: white;
}

.btn.danger:hover:not(:disabled) {
    background: linear-gradient(rgb(201, 150, 99), rgb(154, 58, 105));
    color: white;
}

.btn-sm {
    height: 20px;
    font-size: 12px;
    line-height: 12px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-group .btn {
    border-right: 0px;
}

.btn-group .btn:last-child {
    border-right: 1px solid rgb(185, 185, 185);
}

.panel {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: rgb(242, 242, 242);
}

.row {
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
}

.input {
    flex: 1;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    color: #495057;
    font-size: 12px;
}

.input:focus {
    outline-style: ridge;
    outline-width: 1px;
    outline-color: #0160BF;
}

.treeWrap {
    background-color: rgb(249, 249, 249);
    flex: 1
}

.treeWrap>div {
    flex: 1;
}

.treeWrap>div>div {
    height: 100%;
}

label {
    line-height: 24px;
    margin-right: 4px;
    color: rgb(102, 102, 102);
}

.dialog-header {
    margin: 4px 0px;
}

.dialog-header>svg {
    vertical-align: text-top;
    margin: 0px 8px;
}

.node {
    line-height: 24px;
    color: rgb(102, 102, 102);
}

[role="treeitem"] {
    cursor: pointer;
    user-select: none;
    border: 1px dashed transparent;
}

[role="treeitem"]:focus-visible {
    background-color: rgb(173, 173, 173);
    outline: none;

}

[role="treeitem"][aria-selected="true"]:focus-visible {
    background-color: rgb(173, 173, 173);
    outline: none;

}

[role="treeitem"]:hover {
    background-color: rgb(204, 204, 204);

}

[role="treeitem"][aria-selected="true"] {
    background-color: rgb(173, 173, 173);

}

[role="treeitem"][aria-selected="true"] .node {
    color: black;
}